<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(flight) { %>
        <tr>
            <td><%= flight.id %></td>
            <td><%= flight.name %></td>
            <td><%= flight.description %></td>
            <td><%= flight.price %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
